@model ATH_Hostel.ViewModels.HostelViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ATH Hostel Reservation</h1>
    <div class="container">
        <div class="row">

            <div class="col-sm-6 align-self-center">
                <p class="text-left">
                    The ATH hostel system is an ideal solution for students looking for cheap and comfortable accommodation.
                    Hostels are located in every city in Poland, where students can stay overnight without having to occupy a dormitory.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="https://www.wiecznatulaczka.pl/wp-content/uploads/2016/07/Bielsko-Bia%C5%82a-ikona-995x498.jpg" alt="city" class="img-fluid" />
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6">
                <img src="https://tymrazem.pl/wp-content/uploads/2021/09/IMG_0917-759x500.jpeg" alt="city" class="img-fluid" />
            </div>
            <div class="col-sm-6 align-self-center">
                <p class="text-right">
                    We invite you to take advantage of accommodation for every budget.
                    Here you will find rooms of various standards that will meet your requirements.
                </p>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
